
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="origin">
    <title>Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>

    <link href="{% static 'demo.css' %}" rel='stylesheet' />
    <link href="{% static '../template.css' %}" rel='stylesheet' />
    <script src="{% static '../test-credentials.js' %}"></script>

<script>window.ENV_VARIABLE = 'developer.here.com'</script>
<script src='{% static '../iframeheight.js' %}'></script>
   
</head>

<body>

    <div class="page-header">
        <h1>HERE Maps API for JavaScript with HERE Vector Tile</h1>
        <p>HERE Maps API for JavaScript with HERE Vector Tile as source data</p>
     </div>
     <p>This example displays how to render HERE Vector Tile with HERE Maps API for JavaScript libraries</p>
  
    <div id="map"></div>


<script src="{% static '/map.js' %}"></script>
    
</body>
</html>