
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
    <link rel="stylesheet" href="{% static '/styles/signup.css' %}">
    <script src="https://kit.fontawesome.com/41cf9c9314.js" crossorigin="anonymous"></script>
</head>

<body>


    
    <div class="body">
        <div class="container">

            <span><a href="index.html"><i class="fa-solid fa-house"></i></a></span>
           
                
            <h1>Create an Account</h1>
            <p>Sign up with your social media account or email address</p>
    
            <div class="social">
                <a href="#"><i class="fa-brands fa-facebook-f"></i>Facebook</a>
                <a href="#"><i class="fa-brands fa-twitter"></i>twitter</a>
                <a href="#"><i class="fa-brands fa-google"></i>Google</a>
            </div>
            
    
            <div class="divider">
                <h2>or</h2>
            </div>

            <form action="">

                <label for="user">Username</label> <br>
                <input type="text" name="" id="user" placeholder="Username"><br><br>

                <label for="email">Email Address</label> <br>
                <input type="email" name="" id="email" placeholder="Email Address"><br><br>

                <label for="phone">Phone Number</label> <br>
                <input type="number" name="" id="phone" placeholder="Enter Phone Number"><br><br>

                <label for="Password">Enter Password</label> <br>
                <input type="password" name="" id="pass" placeholder="Password"><br><br>

                <input type="password" name="" id="Cpass" placeholder="Confirm Password"><br><br>

                <input type="submit" value="Sign Up">
            </form>
                
    
    
               
        </div>
    
    </div>





    
</body>
</html>