
/* Navigation starts here */

.nav-link{
    margin-right: 35px;
    font-size: 12px !important;
    /* color: green !important; */
}

.nav-link:hover{
    color: green !important;
}

/* .main-nav{
    background-color: #181028 !important ;
} */

.containa{
    background-image: url(/image/aboutUsBg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cap{
    font-size: 3rem;
}

.cap-p{
    font-size: 1.5rem;
}

/* cards start here */

.containa1{
  background-color: #dededf !important;
}

.card{
  background-color: rgb(56, 55, 55) !important;
}


.card-h:hover{
    text-shadow: none !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all 0.3s  ease !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    transform: scale(1.1) !important ;
    z-index: 2;


}

/* .descrtn{
  margin-top: 50px !important;
  padding-top: 50px;
  background-color: blue;
} */

/* Footer design starts here */

.footer_kuta a{
    display: block;
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-weight: normal;
    font-size: 14px;
   
  }
  .footer_kuta{
    display: flex;
    padding: 20px 0px;
    padding-left: 3rem;
    padding-top: 3rem;
    border-top: 1px solid lightgray;
  }
  .footer_kuta h5{
    padding-bottom: 15px;
   
  }
  .footer_kuta a:hover{
    text-decoration: underline;
  }
  .mobile_app img{
    width: 10rem;
    height: 3rem;
    margin-top: 12px;
    
  }
  .b_cert img{
    width: 5rem;
    height: 8rem;
    margin-left: 3rem;
  }
  
  /* Copyright and socials */
  
  .soci-ials{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-top: 1rem;
    padding-bottom: 4rem;
    border-top: 1px solid lightgray;
    position: relative;
  }
  .copy_right span{
    padding-left: 3rem;
  }
  .copy_right{
    position: absolute;
  }
  .social_media a{
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    padding: 0px 10px; 
  }
  
  .so-cia {
   position: absolute;
   right: 3rem;
  }
  .link-foot{
    font-size: 12px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
  
  }
  .link-foot h6{
    font-size: 12px;
    font-weight: 400;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
  .link-foot p{
    margin-top: -1rem; 
  }
  
  .link-foot a{
    padding-left: 10px;
    color: black;
  }

  @media screen and (max-width: 780px) {

    .so-cia{
     margin-top: 1.5rem;
   
   }
   .link-foot{
     margin-left: -2rem;
   }
 
 
   }
