
/* body starts here */


.body{
  /* width: 45%; */
  /* margin: auto; */
  padding: 23px 0px;
}

/* 
Container starts here */

.container{
  background-color: white;
  width: 60%;
  /* margin: auto; */
  text-align: center;
  padding: 5px 0px;
  border-radius: 15px;
  border: 2px solid green;
}


/* forms starts here */

form{
  margin-top: 20px;
}

input{
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px darkgrey solid;
  background-color: transparent;
  outline: none;
  width: 70%;

}

input:focus{
  outline: none;
}

input:hover{
  font-size: 14px;
}

::placeholder{
  color: darkgrey;
}

input[type=submit]{
  background-color: darkgreen;
  margin-top: 10px;
  width: 50%;
  font-weight: bolder;
  color: white;
  margin-bottom: 10px; 
}

textarea {
  width: 70%;
  height: 200px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
  transition: border-color 0.3s, box-shadow 0.3s;
}

textarea:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  outline: none;
}

textarea::placeholder {
  color: #999;
}

/* mobile reponsiveness starts here */

@media only screen and (min-width:860px) {

  .body{
      /* height: 100vh; */
      width: 60%;
      margin: auto;
  }
  
  
  .container{
      /* height: 100vh; */
      width: 55%;
  }
  
}

@media (min-width:400px) and (max-width:859px) {
  .body{
      /* height: 100vh; */
      width: 100%;
  }
    
  .container{
      /* height: 120vh; */
      width: 90%;
      /* background-color: red; */
      margin-left: 0px;
    
  }

}





/* Navigation starts here */

.nav-link{
    margin-right: 35px;
    font-size: 12px !important;
    /* color: green !important; */
}

.heads{
  color: white !important;

 }


.nav-link:hover{
    color: green !important;
}

/* .main-nav{
    background-color: #181028 !important ;
} */

.containa{
    background-image: url(/image/contactFormBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* contents style start here */

.containa1{
  background-color: #dededf !important;
}



/* Footer design starts here */

.footer_kuta a{
    display: block;
    text-decoration: none;
    color: rgb(14, 13, 13);
    font-weight: normal;
    font-size: 14px;
   
  }
  .footer_kuta{
    display: flex;
    padding: 20px 0px;
    padding-left: 3rem;
    padding-top: 3rem;
    border-top: 1px solid lightgray;
  }
  .footer_kuta h5{
    padding-bottom: 15px;
   
  }
  .footer_kuta a:hover{
    text-decoration: underline;
  }
  .mobile_app img{
    width: 10rem;
    height: 3rem;
    margin-top: 12px;
    
  }
  .b_cert img{
    width: 5rem;
    height: 8rem;
    margin-left: 3rem;
  }
  
  /* Copyright and socials */
  
  .soci-ials{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-top: 1rem;
    padding-bottom: 4rem;
    border-top: 1px solid lightgray;
    position: relative;
  }
  .copy_right span{
    padding-left: 3rem;
  }
  .copy_right{
    position: absolute;
  }
  .social_media a{
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    padding: 0px 10px; 
  }
  
  .so-cia {
   position: absolute;
   right: 3rem;
  }
  .link-foot{
    font-size: 12px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
  
  }
  .link-foot h6{
    font-size: 12px;
    font-weight: 400;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
  .link-foot p{
    margin-top: -1rem; 
  }
  
  .link-foot a{
    padding-left: 10px;
    color: black;
  }

  @media screen and (max-width: 780px) {

    .so-cia{
     margin-top: 1.5rem;
   
   }
   .link-foot{
     margin-left: -2rem;
   }

   .heads{
    color: green !important;

   }
 
 
   }
